ORACLE_HOST=
ORACLE_PORT=
ORACLE_SERVICE_NAME=
ORACLE_USERNAME=
ORACLE_PASSWORD=
ELASTIC_URL=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
OPENAI_API_KEY=
TAVILY_API_KEY=
DB_PATH=
LANGSMITH_TRACING=
LANGSMITH_API_KEY=
GUARDRAIL_API_KEY=
MILVUS_DB=
MILVUS_HOST=
MILVUS_PORT=
MILVUS_COLLECTION=